* { MARGIN:0px;
    Padding: 0px;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;}
    

body {
    background-color:lightblue;
}

h1 {text-align: center;
    font-size: 40px;
    color:midnightblue;
    margin-top: 30px;}

.flex-container {
        display: flex;
        justify-content: space-evenly;
        }
    
    .flex-itens {
        border: 20px;
        padding: 20px;
        }
    
    .Adote {
        font-size: 20px;
        flex-grow: 2;
        background-color: cadetblue;
        color: indigo;
        }
    
    .Home {
        font-size: 15px;
        background-color: indigo;
        color: cadetblue;
    }
    
    .Sobre {
        font-size: 15px;
        background-color: indigo;
        color: cadetblue;
    }
    
    .Contato {
        font-size: 15px;
        background-color: indigo;
        color: cadetblue;
    }

    .box {display: flex;
        justify-content: center;
        width: auto;
        height:auto;
        margin: 30px;
        flex-wrap: wrap; }
    
    img {   margin: 10px; 
            width: 200px;
            height: 200px;
            border: 2px solid indigo;
            border-radius: 50px;}

    @media (max-width: 600px)
    { 
        .Adote {
            display: none;
        }
        .flex-itens {
            flex-direction: column;}
        }
    
    .Adote:hover {
      font-size: 40px;
      transition: 0.5s;
    }
    
    .Home:hover {
      color: white;
      }
    .Sobre:hover {
      color: white;
    }
    .Contato:hover {
      color: white;
    }

    .banner:hover {
        width: 250px;
        height: 250px;
        transition: 0.5s;
    }

    footer { background-color: indigo;
        color:lightblue;
        font-size: 15px;
        text-align: center;}